<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Juzifenqi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>048D80F620C7C6400002C59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>048D810E20C7C6420002C59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>048D811920C7C6420002C59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
